body {
  background-color: #ffffff;
  background-image: url("../photos/noah-color.png");
  /*-webkit-filter: grayscale(65%);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: 50rem;
  background-position-x: 100%;
  background-position-y: 100%;
}

.fixed-action-btn {
      position: fixed;
      right: 75px;
      bottom: 35px;
      padding-top: 15px;
      margin-bottom: 0;
      z-index: 998;
}

.fixed-action-btn ul {
    -webkit-filter: grayscale(50%);
    left: 0px;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 4rem;
    margin: 0;
    visibility: hidden;

}

img#linkedin {
    /*-webkit-filter: grayscale(65%);*/
  height: 52px;
  margin: -8px 0px 0px -8px;
}

img#github {
    /*-webkit-filter: grayscale(65%);*/
  height: 46px;
  margin: -5px 0px 0px -3px;
}

img#twitter {
    /*-webkit-filter: grayscale(65%);*/
  height: 60px;
  margin: -11px 0px 0px -9px;
}

img#instagram {
    /*-webkit-filter: grayscale(65%);*/
  margin: -11px 0px 0px -9px;
  height: 58px;
}

img#spotify{
    /*-webkit-filter: grayscale(100%);*/
  height: 41px;
  margin: -1px 0px 0px -2px;
}


div#name {
  margin: 13rem;
}

span#name {
  font-size: 4rem;
}

span#fname {
  color: grey;
}

span#lname {
  color: black;
  font-weight: 600;
}

div.project-one {
  position: relative;
  float: left;
  height: 350px;
  width: 593px;
  margin-left: 65px;
}

div.project-two {
  height: 350px;
  width: 593px;
  margin-top: 27rem;
  margin-left: 65px;
}

div.article-two {
  position: relative;
  height: 350px;
  width: 400px;
  margin-left: 65px;
  margin-top: 4rem;
}

div.resume {
  height: 550px;
  width: 450px;
  margin-top: 27rem;
  margin-left: 65px;
}

div.article-one {
  float: left;
  height: 350px;
  width: 500px;
  margin-left: 65px;

  /*float: left;
height: 350px;
width: 450px;
margin-left: 65px;*/
}

img#steph-img {
  /*-webkit-filter: grayscale(1);
filter: grayscale(1);*/
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

img#streatery-img {
  /*-webkit-filter: grayscale(1);
filter: grayscale(1);*/
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

img#dive-img {
  -webkit-filter: grayscale(1);
  margin-top: 4rem;
  filter: grayscale(1);
  border: 1px solid black;
  height: 100%;
  width: 112.5%;
}

img#resume-img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

img#dribbling-img {
  -webkit-filter: grayscale(1);
filter: grayscale(1);
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

p.steph-text {
  padding-left: 18rem;
  padding-top: 9rem;
  position: absolute;
  top: -42px;
  bottom: -41px;
  left: 0;
  right: 0rem;
  background: rgba(0,0,0,0.75);
  visibility: hidden;
  opacity: 0;
  font-size: 42px;
  font-weight: lighter;
  color: white;
  -webkit-transition: visibility .6s, opacity .6s;
}

p.streatery-text {
  padding-left: 188px;
  padding-top: 132px;
  padding-right: 157px;
  padding-bottom: 154px;
  position: absolute;
  top: 2443px;
  background: rgba(0,0,0,0.75);
  visibility: hidden;
  opacity: 0;
  font-size: 42px;
  font-weight: lighter;
  color: white;
  -webkit-transition: visibility .6s, opacity .6s;
}

p.dribbling-text {
  padding-left: 95px;
      padding-top: 131px;
      padding-right: 93px;
      padding-bottom: 156px;
      position: absolute;
      top: 2999px;
      background: rgba(0,0,0,0.75);
       visibility: hidden;
       opacity: 0;
      font-size: 42px;
      font-weight: lighter;
      color: white;
      -webkit-transition: visibility .6s, opacity .6s;
}

p.resume-text {
      padding-left: 67px;
      padding-top: 131px;
      padding-right: 56px;
      padding-bottom: 156px;
      position: absolute;
      top: 2560px;
      background: rgba(0,0,0,0.75);
      visibility: hidden;
      opacity: 0;
      font-size: 42px;
      font-weight: lighter;
      color: white;
      -webkit-transition: visibility .6s, opacity .6s;
}

p.dive-text {
  padding-left: 89px;
  padding-top: 130px;
  padding-bottom: 157px;
  padding-right: 66px;
  position: absolute;
  top: -42px;
  background: rgba(0,0,0,0.75);
  visibility: hidden;
  opacity: 0;
  font-size: 42px;
  font-weight: lighter;
  color: white;
  -webkit-transition: visibility .6s, opacity .6s;
}

div.project-one:hover p.steph-text {
  visibility: visible;
  opacity: 1;
}

div.project-two:hover p.streatery-text {
  visibility: visible;
  opacity: 1;
}

div.article-two:hover p.dribbling-text {
  visibility: visible;
  opacity: 1;
}

div.resume:hover p.resume-text {
  visibility: visible;
  opacity: 1;
}

div.article-one:hover p.dive-text {
  visibility: visible;
  opacity: 1;
}

p.lorem {
    padding-bottom: 40rem;
    padding-top: 11rem;
    font-style: normal;
    font-size: 48px;
    line-height: 72px;
    padding: 26px;
    margin: 21rem 0rem 0rem 0rem;
}

.color-one {
  -webkit-filter: grayscale(50%);
  width: 50px;
      height: 350px;
      /*background-color: #FDB927;*/
      /*background-color: #ffea00;*/
      background-color: red;
      /*background-color: #ffeb3b;*/
      /*background-color: #ADD000;*/
      /*background-color: grey;*/
      position: absolute;
      margin-top: 410px;
      margin-left: 450px;
      z-index: -1;


      /*-webkit-filter: grayscale(25%);
width: 143px;
height: 350px;*/
/*background-color: #ffea00;
position: absolute;
margin-top: 0px;
margin-left: 450px;
z-index: -1;*/
}

.color-two {


      /*-webkit-filter: grayscale(25%);
width: 143px;
height: 350px;*/
/*background-color: #ffea00;
position: absolute;
margin-top: 350px;
margin-left: 450px;
z-index: -1;*/
}

.color-three {
  -webkit-filter: grayscale(50%);
  width: 50px;
  height: 550px;
  background-color: red;
  /*background-color: #ffea00;*/
  /*background-color: #ADD000;*/
  /*background-color: grey;*/
  position: absolute;
  margin-top: 0px;
  margin-left: 450px;
  z-index: -1;

/*thick yellow even*/
/*-webkit-filter: grayscale(25%);
width: 143px;
height: 550px;*/
/*background-color: #ffea00;*/
/*position: absolute;
margin-top: 0px;
margin-left: 450px;
z-index: -1;*/
}

p.projects-title {
  color: black;
  font-size: 48px;
  padding: 4rem;
  margin: 20rem 0rem 0rem 0rem;
}

p.articles-title {
  color: black;
  font-size: 48px;
  line-height: 72px;
  padding: 4rem;
  margin: 1rem 0rem 0rem 0rem;
}
