body {
  background-color: #ffffff;
  /*background-image: url("../photos/noah-color.png");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: 50rem;
  background-position-x: 100%;
  background-position-y: 100%;
}



div#name-container {
  margin: 13rem 2rem;
}

span#name {
  padding-top: 50px;
  margin: 10rem 15rem;
  font-size: 4rem;
}

span#fname {
  color: grey;
}

span#lname {
  color: black;
  font-weight: 600;
}

img.resume-image {
  width: 100%;
  height: 350px;
  border: 3px solid #8E6F33;
  filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
}

img.resume-image:hover{
  filter: grayscale(100%);
    /*-webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;*/
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  border: 3px solid #8E6F33;
}

img.dive-image {
  width: 100%;
  height: 350px;
  filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
    border: 3px solid #8E6F33;

}


img.dive-image:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  /*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;*/
}

img.drive-image {
  width: 100%;
  height: 350px;
  filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
    border: 3px solid #8E6F33;
}


img.drive-image:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  /*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;*/
}

img.nba-app {
  width: 100%;
  height: 350px;
  filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
    border: 3px solid #8E6F33;
}

img.nba-app:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  /*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;*/
}

img.streatery-app {
  width: 100%;
  height: 350px;
  filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
    border: 3px solid #8E6F33;
}

img.streatery-app:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  /*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;*/
}

p.lorem {
    padding-bottom: 40rem;
    padding-top: 11rem;
    font-style: normal;
    font-size: 48px;
    line-height: 72px;
    padding: 26px;
    margin: 21rem 0rem 0rem 0rem;
}

p.head {
  color: #8E6F33;
  padding-bottom: 40rem;
  padding-top: 11rem;
  font-style: normal;
  font-size: 48px;
  line-height: 72px;
  padding: 26px;
  margin: 30rem 0rem 0rem 0rem;
}

div#first-row {
    margin: 0rem 0rem 0rem 0rem;
}

div#second-row {
  padding-top: 1rem;
}

span#text-color {
  /*color: #2196f3*/
}

img.noah-face:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  /*filter: grayscale(100%);
  -webkit-filter: grayscale(100%);  /* For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .6s ease;*/
}
img.noah-face {
      width: 51rem;
      height: 34rem;
      margin: -4rem 0rem 0rem 35rem;
      position: fixed;
      z-index: -1;
      filter: grayscale(100%);
        -webkit-filter: grayscale(100%);  /* For Webkit browsers */
        filter: gray;  /* For IE 6 - 9 */
        -webkit-transition: all .6s ease;
}
